.progress-display-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  font-size: 24px;
  height: 100%;
  flex-direction: column;
  padding: 10px;
}

.open-overlay-button {
  position: absolute;
  top: 0;
  right: 0;
}

.input-container,
.progress-container {
  display: flex;
  justify-content: space-around;
}

.input-field {
  width: 100%;
}

.progress-icon-container {
  font-family: ZeldaMain;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  color: white;
}

.progress-icon {
  width: 40px;
  height: 40px;
  padding-right: 0px;
}

.progress-count {
  width: 170px;
  text-align: left;
}

.input-container {
  margin-bottom: 10px;
}
