.ql-editor .ql-size-small {
  font-size: 20px;
}

.ql-container {
  font-size: 30px;
}

.ql-editor .ql-size {
  font-size: 40px;
}

.ql-editor .ql-size-large {
  font-size: 60px;
}

.ql-editor .ql-size-huge {
  font-size: 80px;
}
