.quill {
  display: flex;
  flex-direction: column;
  height: 100%;

  .ql-toolbar.ql-snow {
    border: 0;
    border-bottom: 1px solid #ccc;
  }

  .ql-container.ql-snow {
    border: 0;
  }

  .ql-editor {
    &:focus {
      outline-offset: -2px;
    }
  }
}
